.container {
  margin: 0 auto;
  width: 280px;
  padding: 0 20px;

  @include media-tablet {
    width: 708px;
    padding: 0 30px;
  }

  @include media-desctop {
    width: 1220px;
    padding: 0 110px;
  }
}
