/* здесь используйте глобальные переменные */
$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;
$primary-text-color: #444444;
$secondary-text-color: #000000;
$catalog-title-color: #222222;
