.button {
  display: inline-block;
  padding: 10px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  color: $light-color;
  background-color: $primary-green;
  text-transform: uppercase;
  border: none;

  &:hover {
    background-color: $primary-green-hover;
  }

  &:active {
    background-color: $primary-green-hover;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    opacity: 0.2;
    color: rgba(255, 255, 255, 0.25);
  }

  @include media-tablet {
    font-size: 20px;
    line-height: 26px;
  }
}

.button--secondary {
  background-color: $light-gray-color;
  color: $primary-text-color;

  &:hover,
  &:active {
    background-color: $special-grey2;
    color: $primary-text-color;
  }
}
