.catalog-item-title-small {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.catalog-item-title-small__link {
  text-decoration: none;
  color: #222222;
}
