.catalog-item-title-small {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  @include media-tablet {
    font-size: 20px;
    line-height: 20px;
  }
}

.catalog-item-title-small__link {
  text-decoration: none;
  color: $catalog-title-color;
}
