.catalog {
  border-top: 1px solid $footer-border-gray;
}

.catalog .catalog__container {
  padding-top: 27px;
  padding-bottom: 25px;
}

.catalog__item {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;

  &::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: -20px;
    right: -20px;
    height: 1px;
    background-color: $special-grey2;
  }
}

.catalog__item--show-more {
  text-align: center;
}

.catalog__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 41px;

  &::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: -20px;
    right: -20px;
    height: 1px;
    background-color: $special-grey2;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__show-more {
  margin-top: 23px;
  margin-bottom: 8px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $light-black-color;
}

.catalog__show-more-slogan {
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  color: $primary-text-color;
}

.catalog__item--show-more::before {
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../../images/icons/stack.svg#plus");
  background-size: 30px 30px;
}

.catalog__button {
  width: 280px;
}
