.hero {
  color: #ffffff;
}

.hero__title {
  text-align: center;
}

.hero__slogan {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
