.hero {
  color: $light-color;

  @include media-tablet {
    color: $secondary-text-color;
  }

  &::before {
    @include media-desctop {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      left: 50%;
      height: 694px;
      background-image: url("../../images/hero-cat-big@1x.jpg");
      background-repeat: no-repeat;
    }
  }

  &::after {
    content: " ";
    position: absolute;
    top: 69px;
    left: 0;
    right: 0;
    height: 302px;
    background-color: $primary-green-transparent;

    @include media-tablet {
      display: none;
    }

    @include media-desctop {
      display: block;
      height: 694px;
      left: 50%;
      right: 0;
      top: 0;
    }
  }
}

.hero__container {
  position: relative;
  padding-top: 27px;
  padding-bottom: 20px;

  @include media-tablet {
    padding-top: 65px;
    padding-bottom: 0;
  }

  @include media-desctop {
    display: flex;
    flex-wrap: wrap;
    padding-top: 29px;
    padding-bottom: 134px;
  }

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 302px;
    background-image: url("../../images/hero-cat@1x.jpg");
    background-repeat: no-repeat;

    @include media-tablet {
      display: none;
    }

    /*@include media-desctop {
      top: -116px;
      right: 0;
      left: auto;
      display: block;
      width: 720px;
      height: 694px;
      background-image: url("../../images/hero-cat-big@1x.jpg");
    }*/
  }
}

.hero__title {
  text-align: center;
  z-index: 2;
  position: relative;
  margin-top: 0;
  margin-bottom: 25px;

  @include media-tablet {
    margin-bottom: 40px;
    margin-left: 90px;
    margin-right: 202px;
    text-align: left;
  }

  @include media-desctop {
    margin-top: 90px;
    margin-bottom: 40px;
    margin-right: 0;
    margin-left: 80px;
    width: 416px;
  }
}

.hero__slogan {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
  margin-left: 40px;
  margin-right: 42px;
  margin-top: 0;
  margin-bottom: 29px;

  @include media-tablet {
    margin-left: 90px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 21px;
  }

  @include media-desctop {
    margin-left: 80px;
    width: 283px;
  }
}

.hero__image {
  z-index: 3;
  position: relative;

  @include media-desctop {
    right: 47px;
  }
}

.hero__button {
  width: 260px;
  text-align: center;

  @include media-tablet {
    position: absolute;
    top: 295px;
    margin-left: 90px;
    width: 244px;
    z-index: 3;
  }

  @include media-desctop {
    top: auto;
    bottom: 266px;
    margin-left: 80px;
  }
}
