.live-example__text {
  font-size: 14px;
  line-height:18px;
  font-weight: 400;
  color:#444444;
}

.live-example__cost {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height:20px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  color:#000;
}