.main-header {
  padding-top: 13px;
  padding-bottom: 14px;
}

.main-header__container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.main-header__logo-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
}

.main-header__logo-title {
  margin-left: 56px;
}

.main-header__navigation {
  display: none;
}
