.main-footer {
  background-color: $light-gray-color;
}

.main-footer__invite-text {
  margin-top: 0;
  margin-bottom: 0;
  width: 140px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $light-black-color;
}

.main-footer__address {
  margin-top: 0;
  margin-bottom: 0;
  width: 140px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $primary-text-color;
}

.main-footer__socials-wrapper {
  height: 62px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $footer-border-gray;
}

.main-footer__socials-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.main-footer__logo-wrapper {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: $social-icon-color;

  &::after {
    content: " ";
    display: block;
    mask-image: url("../../images/icons/stack.svg#academy_logo");
    mask-repeat: no-repeat;
    mask-size: 27px 34px;
    mask-position: center;
    background-color: $social-icon-color;
    width: 27px;
    height: 34px;
  }
}

.main-footer__logo-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $primary-text-color;
  pointer-events: none;
}

.main-footer__social-link--vk-icon {
  display: block;
  background-color: $social-icon-color;
  mask-image: url("../../images/icons/stack.svg#vkontakte");
  mask-repeat: no-repeat;
  mask-size: 28px 22px;
  mask-position: center;
  width: 28px;
  height: 22px;
}

.main-footer__social-link--youtube-icon {
  display: block;
  background-color: $social-icon-color;
  mask-image: url("../../images/icons/stack.svg#youtube");
  mask-repeat: no-repeat;
  mask-size: 28px 22px;
  mask-position: center;
  width: 28px;
  height: 22px;
}

.main-footer__social-link--telegram-icon {
  display: block;
  background-color: $social-icon-color;
  mask-image: url("../../images/icons/stack.svg#telegram");
  mask-repeat: no-repeat;
  mask-size: 28px 22px;
  mask-position: center;
  width: 28px;
  height: 22px;
}

.main-footer__map-wrapper {
  width: 320px;
  margin: 0 auto;
}

.main-footer__text-container {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
}

.main-footer__text-wrapper {
  padding: 26px 0;
}

.main-footer__logo-title-wrapper {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid $footer-border-gray;
}
