.main-footer__invite-text {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $light-black-color;
}

.main-footer__address {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $primary-text-color;
}

.main-footer__socials-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-footer__logo-wrapper {
  text-decoration: none;
}

.main-footer__logo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $primary-text-color;
  pointer-events: none;
}

.main-footer__social-link--vk-icon {
  display: block;
  background-color: $social-icon-color;
  mask-image: url("../../images/icons/stack.svg#vkontakte");
  mask-repeat: no-repeat;
  mask-size: 28px 22px;
  mask-position: center;
  width: 28px;
  height: 22px;
}

.main-footer__social-link--youtube-icon {
  display: block;
  background-color: $social-icon-color;
  mask-image: url("../../images/icons/stack.svg#youtube");
  mask-repeat: no-repeat;
  mask-size: 28px 22px;
  mask-position: center;
  width: 28px;
  height: 22px;
}

.main-footer__social-link--telegram-icon {
  display: block;
  background-color: $social-icon-color;
  mask-image: url("../../images/icons/stack.svg#telegram");
  mask-repeat: no-repeat;
  mask-size: 28px 22px;
  mask-position: center;
  width: 28px;
  height: 22px;
}
