.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;

  @include media-tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
  }

  @include media-desctop {
    gap: 31px;
  }
}

.navigation-list__link {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $secondary-text-color;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include media-tablet {
    font-size: 18px;
    line-height: 24px;
  }

  @include media-desctop {
    font-size: 20px;
    line-height: 29px;
  }
}

.navigation-list--main-page .navigation-list__link {
  @include media-desctop {
    color: $light-color;
  }
}

.navigation-list__link--is-active {
  text-decoration: underline;
  text-decoration-color: $primary-green;
  text-decoration-thickness: 2px;
  text-underline-offset: 12px;
}

.navigation-list--main-page .navigation-list__link--is-active {
  @include media-desctop {
    text-decoration-color: $light-color;
  }
}
