.pet-programm__title {
  text-align: left;
}

.pet-programm__input-name,
.pet-programm__markup-text,
.pet-programm__input,
.pet-programm__comment-text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $primary-text-color;
}

.pet-programm__legend {
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

.pet-programm__hint {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
