.pet-programm__title {
  color: $secondary-text-color;
}

.pet-programm__input-name,
.pet-programm__markup-text,
.pet-programm__input,
.pet-programm__comment-text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $primary-text-color;
  padding: 0;
}

.pet-programm__label {
  display: flex;
  width: 280px;
  align-items: center;
}

.pet-programm__input {
  height: 40px;
}

.pet-programm__input-wrapper {
  margin-left: auto;
}

.pet-programm__input-wrapper--email {
  position: relative;

  .pet-programm__input {
    width: 217px;
    padding-left: 15px;
    box-sizing: border-box;
  }

  &::after {
    content: " ";
    position: absolute;
    top: 16px;
    right: 12px;
    width: 17px;
    height: 13px;
    mask-image: url("../../images/icons/stack.svg#email-icon");
    mask-size: 17px 13px;
    mask-repeat: no-repeat;
    background-color: $catalog-title-color;
  }
}

.pet-programm__input-wrapper--phone {
  position: relative;

  .pet-programm__input {
    width: 200px;
    padding-left: 15px;
    box-sizing: border-box;
  }

  &::after {
    content: " ";
    position: absolute;
    top: 16px;
    right: 12px;
    width: 17px;
    height: 13px;
    mask-image: url("../../images/icons/stack.svg#phone-icon");
    mask-size: 17px 13px;
    mask-repeat: no-repeat;
    background-color: $catalog-title-color;
  }
}

.pet-programm__legend {
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $secondary-text-color;
}

.pet-programm__hint {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: $secondary-text-color;
}
