.stats-list {
  padding: 0;
  margin: 0;
}

.stats-list__caption {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.stats-list__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  color: #444444;
}
