.title--h1 {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @include media-tablet {
    font-size: 60px;
    line-height: 60px;
  }
}

.title--h2 {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @include media-tablet {
    font-size: 60px;
    line-height: 60px;
  }
}
